PG_DB_NAME=${PG_DB_NAME}
PG_DB_USER=${PG_DB_USER}
PG_DB_PASS=${PG_DB_PASS}
PG_INSTANCE_HOST=${PG_INSTANCE_HOST}
PG_DB_PORT=${PG_DB_PORT}
SESSION_STORE_SECURE_KEY=${SESSION_STORE_SECURE_KEY}
SESSION_NAME=${SESSION_NAME}
SESSION_VAR_NAME=${SESSION_VAR_NAME}
SMTP_SERVER_NAME=${SMTP_SERVER_NAME}
SMTP_SERVER_PORT=${SMTP_SERVER_PORT}
SMTP_SERVER_PASSWORD=${SMTP_SERVER_PASSWORD}
