[Unit]
Description=go_echo

[Service]
ExecStart=/var/www/docker/run.sh
Restart=always
KillSignal=SIGQUIT

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=go_echo

# https://kazuhira-r.hatenablog.com/entry/2019/12/17/014411
EnvironmentFile=/etc/default/go_echo

[Install]
WantedBy=multi-user.target