@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

// skeleton-cssのメインカラー 濃いめの明るい青
$main-color: #33c3f0;

html {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

  h1, h2 {
    border-left: 1rem solid aliceblue;
    border-bottom: 2px solid $main-color;
  }

  h3 {
    border-left: 1rem solid aliceblue;
    border-bottom: 2px solid $main-color;
  }

  h4 {
    border-left: 1rem solid aliceblue;
    border-bottom: 1px dashed $main-color;
  }

  h5 {
    border-left: 1rem solid aliceblue;
    border-bottom: 1px dashed $main-color;
  }

  p {
    border-bottom: 1px dashed whitesmoke;
  }

  div.row {
    margin-bottom: 1rem;
  }

  details {
    background-color: ghostwhite;
    border-radius: 0.5rem;
    padding: 1rem;

    &.admin {
      background-color: lemonchiffon;
    }

    summary {
      cursor: pointer;

    }

    h1, h2, h3, h4, h5 {
      border: none;
    }
  }

  u {
    background-color: yellow;
    text-decoration: underline dotted lightgray;
  }

  input[type=date] {
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
  }

  input[type=button]:disabled {
    color: gray;
    cursor: not-allowed;

    &:hover {
      border-color: lightgray;
    }
  }

  input[type=button]:disabled.button-primary {
    cursor: not-allowed;
    color: lightcyan;
    background-color: lightblue;
    border-color: lightblue;

    &:hover {
      border-color: lightblue;
    }
  }

  input[type=button].admin {
    color: white;
    background-color: orange;

    &:disabled {
      cursor: not-allowed;
      color: lightgray;
      background-color: darkorange;
      border-color: darkorange;

      &:hover {
        border-color: orangered;
      }
    }
  }
}